streamlit
numpy
requests
praw
yt-dlp
pillow
moviepy
soundfile
librosa
transformers
torch-directml
bitsandbytes
easyocr
fer
deepface
matplotlib
seaborn
python-dotenv
validators
emoji
google-api-python-client
retry
tf-keras
sentencepiece
pandas
psutil
scikit-learn
